* {
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 32px;
    gap: 16px;
}

header {
    display: flex;
    justify-content: center;

    img {
        width: 200px
    }
}

section {
    img {
        height: 280px;
    }
}

footer p {
    text-align: center;
    font-size: 28px;
}

@media (min-width: 600px) {
    header {
        img {
            width: 320px
        }
    }

    section {
        img {
            height: 500px;
        }
    }

    footer p {
        font-size: 54px;
    }
}